<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919646042557-57eqikhsqavq1tle48s5tn4f7iavmvnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919646042557-57eqikhsqavq1tle48s5tn4f7iavmvnr</string>
	<key>API_KEY</key>
	<string>AIzaSyBreE6qjnY-0JpVsXKK6Bsi6J7Q1Pgc9s0</string>
	<key>GCM_SENDER_ID</key>
	<string>919646042557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ali.application</string>
	<key>PROJECT_ID</key>
	<string>comaliapp</string>
	<key>STORAGE_BUCKET</key>
	<string>comaliapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919646042557:ios:ac40b766a0db802c37fad4</string>
</dict>
</plist>